<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <div class="col-md-3 mb-2 mb-md-0">
        <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
          <svg class="bi" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>
    </div>
    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li class="nav-item"><a href="/statistics/" class="nav-link px-2 {% if statistics %}link-secondary{% endif %}">Statistics</a></li>
        <li class="nav-item"><a href="/users/" class="nav-link px-2 {% if users %}link-secondary{% endif %}">Users</a></li>
        <li class="nav-item"><a href="/keys/" class="nav-link px-2 {% if keys %}link-secondary{% endif %}">Keys</a></li>
        <li class="nav-item"><a href="/tariffs/" class="nav-link px-2 {% if tariffs %}link-secondary{% endif %}">Tariffs</a></li>
        <li class="nav-item"><a href="/panels/" class="nav-link px-2 {% if panels %}link-secondary{% endif %}">Panels</a></li>
        <div class="dropdown nav-item">
            <button class="btn {% if others %}link-secondary{% else %}link-active{% endif %} nav-link px-2 dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Others
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/providers/">Payment providers</a></li>
                <li><a class="dropdown-item" href="/promocodes/">Promocodes</a></li>
                <li><a class="dropdown-item" href="/languages/">Languages</a></li>
            </ul>
        </div>
    </ul>
    <div class="col-md-3 text-end">
        <a class="btn btn-outline-danger me-2" href="/auth/logout">Logout</a>
    </div>
</header>