{% extends "base.html" %}
{% block title %}Languages{% endblock %}
{% block content %}
{% with others=1 %}
    {% include "header.html" %}
{% endwith %}
    <form class="row g-3 justify-content-center" id="addLanguageForm">
        <div class="col-auto">
            <label for="languageTitle" class="visually-hidden">Language title</label>
            <input type="text" class="form-control" id="languageTitle" name="title" placeholder="Language title">
        </div>
        <div class="col-auto">
            <label for="languageCode" class="visually-hidden">Langiage code</label>
            <input type="text" class="form-control" id="languageCode" name="code" placeholder="Language code">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-outline-primary mb-3" id="addLanguage">Add language</button>
        </div>
    </form>
    <div class="text-center mb-3">
        <input class="form-control" list="datalistOptions" id="languagesDatalist" placeholder="Type to search..." name="title">
        <datalist id="datalistOptions"></datalist>
    </div>
    <ul class="list-group list-group-numbered scenes">
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">Subheading</div>
                Cras justo odio
            </div>
        </li>
    </ul>
    <script>
        let l_input = document.querySelector('#languagesDatalist');
        let add_scene = null;
        let languages = document.querySelector('#datalistOptions');
        let scenes = document.querySelector('.scenes');

        async function load_languages() {
            let url = new URL(`/languages/get`, window.location.origin);

            let resp = await fetch(url);
            let data = (await resp.json())['data'];
            
            languages.innerHTML = '';

            for (let lang of data){
                let el = document.createElement('option');
                el.setAttribute('value', lang['title']);
                el.textContent = lang['code'];
                languages.appendChild(el);
            }
        }

        let langForm = document.querySelector('#addLanguageForm');
        let languageTitle = document.querySelector('#languageTitle');
        let languageCode = document.querySelector('#languageCode');

        async function addLangSubmit(e) {
            e.preventDefault();
            let url = new URL(`/languages/add`, window.location.origin);

            const formData = new URLSearchParams(new FormData(langForm));

            let resp = await fetch(url, {
                method: 'POST',
                body: formData
            });
            let data = (await resp.json())['data'];

            languageTitle.value = '';
            languageCode.value = '';

            let el = document.createElement('option');
            el.setAttribute('value', data['title']);
            el.textContent = data['code'];
            languages.appendChild(el);
        }

        langForm.addEventListener('submit', addLangSubmit);

        function create_scene_elem(data) {
            let scene = document.createElement('li');
            scene.classList.add('list-group-item');
            scene.classList.add('d-flex');
            scene.classList.add('justify-content-between');
            scene.classList.add('align-items-start');

            let d = document.createElement('div');
            d.classList.add('ms-2');
            d.classList.add('me-auto');

            let scene_and_action = document.createElement('div');
            scene_and_action.classList.add('fw-bold');
            scene_and_action.textContent = `${data['title']}, ${data['action']}`;
            d.appendChild(scene_and_action);
            
            let text = document.createElement('p');
            text.setAttribute('id', 'actionText');
            text.setAttribute('scene', data['title']);
            text.setAttribute('action', data['action']);
            text.textContent = data['text'];
            d.appendChild(text);

            scene.appendChild(d);

            return scene;
        }

        async function loadScenes(e) {
            let title = l_input.value;
            let url = new URL(`/languages/scenes`, window.location.origin);
            url.searchParams.set('title', title);

            let resp = await fetch(url);
            let data = (await resp.json())['data'];

            scenes.innerHTML = '';

            for (let scene of data){
                scenes.appendChild(create_scene_elem(scene));
            }
        }

        l_input.addEventListener('change', loadScenes);

        load_languages();
    </script>
{% endblock %}